security:
    # User providers
    providers:
        users_in_memory:
            memory: null
        in_database:
            entity:
                class: App\Entity\User
                property: email

    # Firewalls
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: lazy
            provider: in_database

            form_login:
                login_path: security_login
                check_path: security_login

            logout:
                path: security_logout
                target: app_home
                

    # Access control
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/profile, roles: ROLE_USER }

    # Encoders (Use this section for password hashing in older Symfony versions)
    encoders:
        App\Entity\User:
            algorithm: bcrypt
