{% extends 'base.html.twig' %}

{% block title %} À Propos {% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center mb-4" style="color: #075f5e;">À Propos de Twinkle IT</h1>
    <p class="text-center" style="font-size: 1.2rem;">
        Twinkle IT est une entreprise spécialisée dans le développement web et digital.
        Nous aidons nos clients à améliorer leur présence en ligne avec des solutions adaptées à leurs besoins.
    </p>
</div>
{% endblock %}
