{% extends 'base.html.twig' %}

{% block title %}Ajouter un Paiement{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center text-primary">💳 Ajouter un Paiement</h1>
    <div class="card p-4 shadow-sm">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success mt-3 w-100">Valider le paiement</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
