parameters:
    uploads_directory: '%kernel.project_dir%/public/uploads'
    upload_directory: '%kernel.project_dir%/public/uploads/products'
    assets.base_path: '/public'

services:
    _defaults:
        autowire: true      # Injecte automatiquement les dépendances
        autoconfigure: true # Configure les services automatiquement

    # Enregistrement automatique de tous les contrôleurs
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # Enregistrement explicite des repositories (optionnel si autowire fonctionne bien)
    App\Repository\ProduitRepository:
        tags: ['doctrine.repository_service']

    App\Repository\CategoryRepository:
        tags: ['doctrine.repository_service']

    App\Repository\UserRepository:
        tags: ['doctrine.repository_service']

    App\Repository\ClientRepository: ~
