parameters:
    uploads_directory: '%kernel.project_dir%/public/uploads'
    upload_directory: '%kernel.project_dir%/public/uploads/products'
    assets.base_path: '/public'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Enregistrement automatique des services et contrôleurs
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Service\:
        resource: '../src/Service/'
        public: true

    App\Service\LicenseApiService:
        arguments:
            $client: '@http_client'

    # Repositories (optionnel si Doctrine autowire est activé)
    App\Repository\:
        resource: '../src/Repository/'
        tags: ['doctrine.repository_service']
