parameters:
    uploads_directory: '%kernel.project_dir%/public/uploads'

services:
    _defaults:
        autowire: true      # Injecte automatiquement les dépendances
        autoconfigure: true # Configure les services automatiquement

    # Enregistrement des contrôleurs
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # Enregistrement des repositories avec les tags nécessaires
    App\Repository\ProduitRepository:
        autowire: true
        autoconfigure: true
        tags: ['doctrine.repository_service']

    App\Repository\CategoryRepository:
        autowire: true
        autoconfigure: true
        tags: ['doctrine.repository_service']

    App\Repository\UserRepository:
        autowire: true
        autoconfigure: true
        tags: ['doctrine.repository_service']
